{% load static %}
<!doctype html>
<html lang="en">
 
{% include "include/head.html" %}

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            {% include 'include/navbar.html' %}
            
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        {% include 'include/sidebar.html' %}
        
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Craete all books in the stationary </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div>
                                  <center>
                            
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Books
                                    </button>
                                    
                                  </center>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div>
                      <center>
                        <table class="table table-hover">
                          <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Mother Name</th>
                            <th>Mother Telephon</th>
                            <th>Mother Email</th>
                            <th>Gender</th>
                            <th>Grade</th>
                            <th>Action</th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Abdul Shariif</td>
                              <td>Hani Faarax</td>
                              <td>12347899</td>
                              <td>Hani@gmail.com</td>
                              <td>Male</td>
                              <td>1aad</td>
                              <td>
                                <a href="" class="btn btn-warning">Edit</a>
                                <a href="" class="btn btn-danger">Delete</a>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Xasan Axmed</td>
                              <td>Shukri xuseen</td>
                              <td>0987432</td>
                              <td>shukri@gmail.com</td>
                              <td>Male</td>
                              <td>2aad</td>
                              <td>
                                <a href="" class="btn btn-warning">Edit</a>
                                <a href="" class="btn btn-danger">Delete</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </center>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    {% include "include/script.html" %}
</body>

 
</html>